html,
body {
 height: 100%;
}

body {
  width: 100%;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url('../img/LogIn.jpg');
  background-repeat: no-repeat;
}

.login-form {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 400px;
  height: 400px;
  padding: 40px;
  text-align: center;
}

.form-control {
  border-bottom: 2px solid #A077E8;
  background: none;
  display: block;
  margin: 20px auto;
  padding: 14px 10px;
  text-align: center;
}


#button-Login {
  width: 200px;
  height: 40px;
  margin: 40px auto 10px auto;
  border-color: #A077E8;
  border-radius: 3px;
  background-color: #A077E8;
  font-family:'Times New Roman', Times, serif ;
  font-size: 20px;
}

#button-Login:hover{
  background-color: #815FBB;
}

#enlace {
  margin-top: 20px;
}

#link{
  color: #A077E8;
}
    
