.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
  margin-top: 10px;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.nameUsuario {
  color: white;
}

.nameProduct{
  align-content: center;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.nav-item a{
  color: white;
  font-size: 17px;
}

.nav-item{
  margin-left: 50px;
}
/*Ajusto el tamaño para que cuando se achica no se vea mas ese margen*/
@media (max-width: 1000px){
  .nav-item{
    margin-left: 0px;
  }
}

#usuarioLogIn{
  font-size: 17px;
}

.ComentConteiner1{
  border: solid black 1.5px;
  border-radius: 15px 50px 30px 5px;
  padding: 15px;
  margin-top: 50px;
  background-color: #ffc1073d;

}


.ComentConteiner2{
  border: solid black 1.5px;
  border-radius: 15px 50px 30px 5px;
  padding: 15px;
  margin-top: 50px;
  background-color: #007bff1f;

}


#areaComentario{
  height: 150px;
}

#botonProductInfo{
  position: relative;
  left: 68%;
}

#botonProductInfo:hover{
  opacity: 0.5;
  border: solid black 1.5px;
}

#imgCargada{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 1px grey;
  padding: 3px;
}

.emptyField{

  border: solid 2px red;

}

.mensajeError{
  display: none;
  color: red;

}

#enviarDatos{
  position: relative;
  left: 85%;
}








